@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "startbootstrap-sb-admin-2/css/sb-admin-2.min.css";
@import "datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css";
@import "select2/dist/css/select2.min.css";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";
@import "daterangepicker/daterangepicker.css";
@import "bootstrap-icons/font/bootstrap-icons";
@import "bootstrap4-toggle/css/bootstrap4-toggle.min.css";
@import "datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css";
@import "datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";

.table-responsive {
    overflow: hidden!important;
}

select {
    width:100%;
}

.invalid-feedback {
    display:block;
}


.select2-container--open {
    z-index: 99999999999999999999!important;
}

.fc-license-message{
    display: none!important;
}


.service-type-main{
    cursor: pointer;
}

.service-type-main:hover, .service-type-container .active {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg,#f8f9fc 60%,#c2cbe5);
    background-size: cover;
}

.service-type-main:active {
    box-shadow: 4px 4px 4px #ccc!important;
}

.branch-card-main{
    cursor: pointer;
}

.branch-card-main:hover, .branch-card-container .active {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg,#f8f9fc 60%,#c2cbe5);
    background-size: cover;
}

.branch-card-main:active {
    box-shadow: 4px 4px 4px #ccc!important;
}

.selectable-card {
    cursor: pointer;
}

.selectable-card:hover, .selectable-card.active {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg,#f8f9fc 60%,#c2cbe5);
    background-size: cover;
}

.selectable-card:active {
    box-shadow: 4px 4px 4px #ccc!important;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto{
    matgin:5px 0;
}
